version: '3.9'
services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    environment:
      POSTGRES_DB: pos_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - spring-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_ui
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@app.com
      PGADMIN_DEFAULT_PASSWORD: password
#      TZ: Asia/Yangon
      TZ: Asia/Rangoon
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - spring-network

volumes:
  postgres_data:
networks:
  spring-network:
